<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://www.appserver.io/appserver">

    <display-name>appserver.io api-guard application</display-name>
    <description>This is the api-guard application for the appserver.io servlet engine.</description>

    <session-config>
        <session-name>api-guard_login</session-name>
        <session-file-prefix>api-guard_session_</session-file-prefix>
    </session-config>

    <servlet>

        <description>The routlt controller servlet implementation.</description>
        <display-name>The routlt controller servlet</display-name>
        <servlet-name>routlt</servlet-name>
        <servlet-class>\AppserverIo\Routlt\ControllerServlet</servlet-class>

        <init-param>
            <param-name>configurationFile</param-name>
            <param-value>WEB-INF/routes.json</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>routlt</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>routlt</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>